<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Verify your email | Clink</title>
  </head>
  <body>
    {{> header.email }}
    
    <h1>Thanks for joining Clink! Verify your email address.</h1>
    <div>
      <p>Please click the below link to verify your email address:</p>
      <p>
        <a href="{{verifyUrl}}">{{verifyUrl}}</a>
      </p>
    </div>
    
    {{> footer.email }}
  </body>
</html>